<!DOCTYPE html>
<html>
<head>
  <title>CellsToDoList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= render_cell :TasksList, :display, :tasks_list => @current_tasks_list %>
  <%= render_cell :CreateTask, :display, :taks => @current_task %>
  <%= render_cell :UpdateTask, :display, :taks => @current_task %>
</div>

<%= yield %>

</body>
</html>
